[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
numpy = "*"
pandas = "*"
openai = "*"
tqdm = "*"
datasets = "*"
pinecone-client = "*"
pinecone-datasets = "*"
pinecone-text = "*"
gradio = "*"
beautifulsoup4 = "*"
pyarrow = "*"
lxml = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.21"
